/*FONTS*/
@font-face 
{
    font-family: 'caviar_dreamsregular';
    src: url('CaviarDreams-webfont.eot');
    src: url('CaviarDreams-webfont.eot?#iefix') format('embedded-opentype'),
         url('CaviarDreams-webfont.woff') format('woff'),
         url('CaviarDreams-webfont.ttf') format('truetype'),
         url('CaviarDreams-webfont.svg#caviar_dreamsregular') format('svg');
}

@font-face 
{
    font-family: 'spin_cycle_otregular';
    src: url('spincycle_ot-webfont.eot');
    src: url('spincycle_ot-webfont.eot?#iefix') format('embedded-opentype'),
         url('spincycle_ot-webfont.woff') format('woff'),
         url('spincycle_ot-webfont.ttf') format('truetype'),
         url('spincycle_ot-webfont.svg#spin_cycle_otregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*GENERALE STRUCTURE*/
body
{
	background-color: #cbedf2;
}
#container
{
	/*background: rgba(153, 236, 247, 0.5);*/
	width: 70%;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-family: "caviar_dreamsregular", arial, Verdana, sans-serif;
}


a
{
	text-decoration: none;
	font-size: 0.9em;
}
/*HEADER*/
#entete
{
	margin: -21px 0px 0px 0px;
	background: url("background.jpg") ;
	position: fixed;
	align-items: center;
	border-radius: 0px 0px 100px 0px;
	width: 69%;
	box-shadow: 2px 2px 2px black;
}
.bouton_top
{
	background: rgba(84, 203, 221, 1);
	padding: 3px 10px;
	color: black;
	text-align: center;
	border-radius:10px 0px 10px 0px;
	box-shadow: 2px 2px 2px black;
}
.bouton_top:hover
{
	opacity: 0.8;
}
.bouton_top:active
{
	box-shadow: 0px 0px 0px black;
}
.bouton_nav
{
	background: #002D44;
	padding: 5px;
	font-size: 1.3em;
	color: white;
	text-align: center;
	border-radius:20px 0px 20px 0px;
	box-shadow: 2px 2px 0px rgb(84, 203, 221);
}
.bouton_nav:hover
{
	background: #054f87;
}
.bouton_nav:active
{
	box-shadow: 0px 0px 0px black;
}
#description
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-right: 150px;
}

h1
{
	background: #002D44;
	border-radius: 70px 0px 70px 0px;
	box-shadow:  3px 3px 0px rgba(84, 203, 221, 1);
	padding: 26px 40px 0px 24px;
	margin: auto;
	font-family: 'spin_cycle_otregular', arial;
	font-weight: bold;
	font-size: 3.6em;
	color:white;
}

/*CENTRAL BLOCKS*/
#central
{
	margin-top:270px;	
}
/*nav bar*/
nav
{
	/*border: solid yellow;*/
	background: #002D44/*url("background.jpg") no-repeat;*/;	
	width:130px;
	box-shadow: 2px 2px 2px black;
	border-radius: 0px 0px 20px 0px;
	text-align: left;
	padding: 20px;
	font-size: 1.2em;
	position: fixed;
}
/*nav buttons*/
.bouton
{
	display:flex;
	flex-direction: column;
	color: black;
	font-size: 1em;
	text-align: center;
	border-radius: 20px 0px 20px 0px;
	box-shadow: 2px 2px 2px black;
}
.bouton:nth-child(2)/*c++*/
{
    background: #054F87;   
}
.bouton:nth-child(4)/*Qt*/
{
    background:  #45CE55;
    
}
.bouton:nth-child(6)/*html5*/
{
    background: #EF652A;    
}
.bouton:nth-child(8)/*css3*/
{
    background: #0171BA;
}
.bouton:nth-child(10)/*javascript*/
{
    background: #F7DF1E;  
}
.bouton:nth-child(12)/*PHP MySQL*/
{
    background: #8892BF;  
}
.bouton:hover
{
	opacity: 0.7;
}
.bouton:active
{
	box-shadow: 0px 0px 0px black;
}
/*sections and articles*/
section
{
	/*border: solid black;*/
	text-align: justify;	
}
article
{
	/*border: solid purple;*/
	padding: 100px;
	margin-left: 150px;
}

/*FORMULAIRES*/
#form_connexion
{ 
	position: relative;
	margin: auto;
	width: 270px;
	border: solid grey;
	border-radius: 20px;
	text-align: right;
	padding: 20px;
}
#form_inscription
{
	margin: auto;
	width: 390px;
	border: solid grey;
	border-radius: 20px;
	text-align: right;
	padding: 20px;
} 
#form_profile
{
	margin: auto;
	width: 450px;
	border: solid grey;
	border-radius: 20px;
	text-align: right;
	padding: 20px;
}
/*form buttons*/
#bouton_form
{
	font-family: "caviar_dreamsregular", arial, Verdana, sans-serif;
	font-size:1em;
	background-color: #54cbdd;
	border-radius: 5px ;
	border:solid black 2px;
	border-radius: 10px 0px 10px 0px;
	float: right;
	box-shadow: 2px 2px 0px black;
}
#bouton_form:hover
{
	background-color: #55a1e0;
}
#bouton_form:active
{
	box-shadow: 0px 0px 0px black;
}

/*TITLES*/
h2 
{
	text-align: center;
	font-size: 0.8em;
}
h3
{
	border-radius: 10px 0px 10px 0px;
	font-size: 0.8em;
	box-shadow: 2px 2px 0px black;
	text-align:right;
	background: #55a1e0;
	color: white/* #1871A3*/;
	padding: 5px 5px 5px 5px;
}
img
{
	box-shadow: 2px 2px 0px black;
}


